.bg-home{
  background-image: url("./assets/images/bg-clouds.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
 flex-direction: column;
 background-size: cover; 
}


/* #ff5e6c coral pink
  #e1b382 sand tan
  #8076a3 purple majestic mountain
  #f9c5bd misty pink sky
*/

.btn-size {
  height: 30vh;
  width: 30vh;
  overflow: hidden;
}

.pad-top {
  padding-top: 7%;
}

.menu {
  height: 40vh;
  width: 25vw;
  border-radius: 15px;
}

.menu-item {
  height: 20%;
  border-radius: 15px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}